/* Important Styles */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "DM Serif Text", serif;
    color: white;
}

body{
    background-color:#232323;
    overflow-x: hidden;
}

/* header styles */
.header{
    height: 100vh;
    width: 100%;
}

.navbar{
    padding: 15px 10px !important;
}

.logo{
    color: white;
    font-family: "Matemasie", sans-serif;
    font-weight: 600;
}

.logo:hover{
    color: rgb(36,193,255);
}

.nav-item{
    margin: 0px 10px;
}

.nav-item .nav-link{
    color: white;
    font-size: 14px;
    font-weight: 500;
    position: relative;
}

.nav-link::after{
    content: '';
    position: absolute;
    bottom: -1px;
    left:0px;
    background-color: rgb(57, 189, 255);
    width: 0%;
    height: 3px;
    transition: 0.4s ease-in-out;
}

.nav-item:hover .nav-link::after{
    width: 100%;
}

.nav-link:hover{
    color: rgb(36,193,255);
}

.btn-navbar{
    display: inline-block;
    padding: 10px 43px;
    border: 1px solid rgb(36,193,255);
    color: white;
    border-radius: 50px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    background-color: rgb(36,193,255);
}

.btn-navbar:hover{
    background: transparent;
    color: rgb(36,193,255);
    border: 1px solid rgb(36,193,255);
}


/* home section styles */
.content-home2{
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-heading{
    font-size: 50px;
    font-weight: 700;
    line-height: 70px;
}

.home-span{
    color: rgb(36,193,255);
}

.para-home{
    font-size: 13px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.703);
    max-width: 400px;
    line-height: 24px;
    margin: 14px 0px;
}

.home-links{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solide rgb(36,193,255);
    background-color: rgb(36,193,255);
    margin: 20px 0px;
    margin-right: 7px;
    border-radius: 50px;
    padding: 10px 37px;
    font-size: 14px;
    font-weight: 600;
    transition: 0.2s ease;
}

.home-links:hover{
    background: transparent;
    color: rgb(36,193,255);
    border: 1px solid rgb(36,193,255);
}

.btn-2{
    border: 1px solid rgb(36,193,255);
    color: rgb(36,193,255);
    background-color: transparent;
}

.img-home{
    margin-right: 20px;
    margin-left: 20px;
}